## Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [4]:
from datetime import datetime

In [10]:
datetime_object_1 = datetime.strptime('Wednesday October 2 2002', '%A %B %d %Y')

In [11]:
datetime_object_1

datetime.datetime(2002, 10, 2, 0, 0)

In [12]:
datetime_object_2 = datetime.strptime('Friday 11.10.13', '%A %d.%m.%y')

In [13]:
datetime_object_2

datetime.datetime(2013, 10, 11, 0, 0)

In [14]:
datetime_object_3 = datetime.strptime('Thursday 18 August 1977', '%A %d %B %Y')

In [15]:
datetime_object_3

datetime.datetime(1977, 8, 18, 0, 0)

## Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [9]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [12]:
stream_dict_new = []
for elements in stream:
    if type(elements) == 'datetime.datetime':
        stream_dict_new.append(elements.strftime('%Y-%m-%d'))
    else:
        stream_dict_new.append(elements)

def check_list(date_text):
    try:
        if date_text != datetime.strptime(date_text, "%Y-%m-%d").strftime('%Y-%m-%d'):
            raise ValueError
        return True
    except ValueError:
        return False
list(map(check_list, stream_dict_new))

[True, False, False]

## Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [13]:
from datetime import datetime

In [14]:
from datetime import timedelta

In [15]:
start_date = '2020-01-01'
end_date = '2020-01-15'
start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

def date_range (start_date_dt, end_date_dt ):
    while start_date_dt <= end_date_dt:
        try:
            if datetime.strptime(start_date, '%Y-%m-%d') and datetime.strptime(end_date, '%Y-%m-%d'):
                print(start_date_dt.strftime('%Y-%m-%d'))
                start_date_dt += timedelta(days=1)
        except:
            print('Неверный формат данных')
    else:
        print([])
date_range (start_date_dt, end_date_dt )

2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
[]